.cmor-files-file_detail
  %h4.title= resource.title

  %p.description= resource.description

  .resource-actions
    = link_to(main_app.url_for(resource.asset), class: 'btn btn-primary') do
      = "#{t('.download')} (#{resource.asset.content_type.split('/').last}, #{number_to_human_size(resource.asset.blob.byte_size)})"
