.row
  .col-12
    %h1= @resource.name

.row
  - if @resource.preview_picture.present?
    .col-md-4
      %img.img-thumbnail.p-4.img-fluid{:alt => "", :src => main_app.url_for(@resource.preview_picture.variant(resize: "512x512>", gravity: :center, extent: "512x512")) }/
    .col-md-8
      %p= markup_helper(self).to_html(@resource, :body).html_safe
  - else
    .col-md-12
      %p= markup_helper(self).to_html(@resource, :body).html_safe

.row
  .col-12
    = link_to(root_path, class: "btn btn-primary") do
      %span.btn-text= t('.back')