.row
  .col-12
    %h1= @resource.name

.row
  - if @resource.preview_picture.present?
    .col-12
      %img.w-100.img-thumbnail.img-fluid{:alt => "", :src => main_app.url_for(@resource.preview_picture.variant(Cmor::Showcase::Frontend::Configuration.default_render_items_variant_options)) }/
    .col-12
      %p= markup_helper(self).to_html(@resource, :body).html_safe
  - else
    .col-12
      %p= markup_helper(self).to_html(@resource, :body).html_safe

.row
  .col-12
    = link_to(root_path, class: "btn btn-primary") do
      %span.btn-text= t('.back')