%h2= Cmor::Blog::AssetDetail.model_name.human(count: :other)

- if @resource.asset_details.any?
  = collection_table(collection: @resource.asset_details.order(position: :asc)) do |table|
    = table.acts_as_list_actions
    = table.thumbnail :asset
    = table.column :filename
    = table.column :asset_byte_size do |resource|
      - number_to_human_size(resource.asset.byte_size)
    = table.timestamps format: :short
    = table.column :asset_actions do |resource|
      - if resource.asset.present?
        - link_to(main_app.url_for(resource.asset), class: 'btn btn-xs btn-primary btn-responsive') do
          %i.fas.fa-download
          %span.btn-text= t('.download')
    = render partial: "administrador/resources_controller/base/index_table_actions", locals: { table: table }
