= table.column :email, sort: true
= table.boolean :active, sort: true
= table.boolean :approved, sort: true
= table.boolean :confirmed, sort: true
- if Cmor::UserArea::Configuration.tfa_enabled?
  = table.aasm_state :tfa_state, sort: true
= table.column :login_count, sort: true
= table.column :last_login_at, sort: true
= table.timestamps sort: true
- if Cmor::UserArea::Configuration.tfa_enabled?
  = table.aasm_actions :tfa_state, title: '' do |resource|
    - capture_haml do
      - if resource.may_disable_tfa?
        = link_to({ action: 'trigger_event', id: resource.to_param, machine_name: 'tfa_state', event_name: 'disable_tfa'}, method: :post, class: 'btn btn-xs btn-danger') do
          = resource.class.aasm(:tfa_state).human_event_name(:disable_tfa)