= table.id sort: true
= table.column :item_type, sort: true
= table.column :item_id, sort: true
= table.column :event, sort: true
= table.column :whodunnit, sort: true
= table.column :object
= table.timestamp :created_at, sort: true