%div.panel.panel-default.mb-2
  %div.panel-heading
    %h1= t('.title', resource: @resource.email)
  %div.panel-body
    = simple_form_for(@resource, url: update_user_password_reset_path(@resource.to_param, @resource.perishable_token)) do |f|
      = render partial: 'form_errors', locals: { resource: f.object }
      = render 'form', form: f
      = f.button :submit, class: 'btn btn-success'
  %div.panel-footer

.well.well-sm
  .btn-container-right
    = link_to new_user_session_path, class: 'btn btn-default btn-responsive' do
      %span.glyphicon.glyphicon-arrow-left
      %span.btn-text= t('.back')