= table.row :title
= table.row :body
- if Cmor::Blog.features?(:cmor_tags)
  = table.row(:tags) do |resource|
    - tag_labels_for(resource)
= table.association :creator, label_method: ->(r) { r.send(Cmor::Blog::Configuration.creator_label_method_name) }
= table.association :updater, label_method: ->(r) { r.send(Cmor::Blog::Configuration.creator_label_method_name) }
= table.timestamp :published_at, format: :short
= table.timestamps format: :short