%h3= Cmor::Rbac::Role.model_name.human(count: :other)

.table-responsive
  = collection_table(collection: @resource.roles) do |table|
    = table.column :identifier
    = table.column :actions, title: "" do |resource|
      - capture_haml do
        = link_to t('.show'), url_for(resource), class: 'btn btn-primary btn-xs'

%h3= Cmor::Rbac::Configuration.user_class.model_name.human(count: :other)

.table-responsive
  = collection_table(collection: @resource.users) do |table|
    = table.column :email
    = table.column :actions, title: "" do |resource|
      - capture_haml do
        = link_to t('.show'), url_for(resource), class: 'btn btn-primary btn-xs'
