.well
  = form.input :identifier
  = form.input :enabled_from
  = form.input :enabled_to

.well
  = form.association :roles, as: :check_boxes, label_method: :identifier

.well
  = form.association :users, as: :check_boxes, label_method: :email