#page-title.bottom-margin-1
  .row
    .col-xs-8.col-8.mr-auto
      %h1= @resource.human
    .col-xs-4.col-4
      #page-actions.btn-container-right
        - if Cmor::UserArea::Configuration.allow_users_to_destroy_self
          .pull-right.text-right
            = link_to(cmor_user_area_frontend.current_user_path, method: :delete, class: 'btn btn-danger btn-responsive', 'data-confirm': I18n.t('confirmations.delete')) do
              %span.glyphicon.glyphicon-fire
              %span.btn-text= t('.destroy')

.panel.panel-default.panel-with-actions
  %table.table.table-striped.table-condensed.table-hover
    = resource_table(resource: @resource) do |table|
      = render 'show_table', table: table

  .panel-footer

= render 'show_extras', resource: @resource

.well.well-sm
  .btn-group
    = link_to(cmor_user_area_frontend.url_for([Cmor::UserArea::UserSession]), class: 'btn btn-warning btn-responsive', method: :delete) do
      %span.glyphicon.glyphicon-pencil
      %span.btn-text= t('.sign_out')
    = link_to(cmor_user_area_frontend.edit_current_user_path, class: 'btn btn-primary btn-responsive') do
      %span.glyphicon.glyphicon-pencil
      %span.btn-text= t('.edit')
  = link_to main_app.root_path, class: 'btn btn-default btn-responsive pull-right' do
    %span.glyphicon.glyphicon-arrow-left
    %span.btn-text= t('.back')