= table.acts_as_list_actions
= table.thumbnail :image
= table.column :locale, collection: I18n.available_locales
= table.column :identifier
= table.column :name
= table.timestamps
= table.acts_as_published_actions