= table.id
= table.association :item, label_method: :human, link_to: -> (r) { url_for(r.item) }, sort: { column_name: 'cmor_seo_items.id' }
= table.column :name, sort: true
= table.column :content, sort: true
= table.column :to_html
= table.acts_as_published_actions sort: { column_name: :published }
= table.timestamps sort: true