.row
  .col-12
    %h2= Cmor::Galleries::PictureDetail.model_name.human(count: :other)
.row.mb-4
  - @resource.picture_details.each do |picture_detail|
    .col-2.d-flex.align-items-stretch
      = bootstrap_card(image_options: { src: main_app.url_for(picture_detail.asset) }) do
        - if picture_detail.title.present?
          %h5.card-header= picture_detail.title
        - if picture_detail.description.present?
          .card-body
            %p= picture_detail.description
        .card-footer.d-flex
          .btn-group.mx-auto
            - if picture_detail.published?
              = link_to([:toggle_published, picture_detail], class: 'btn btn-xs btn-responsive btn-danger', method: :post) do
                %span.glyphicon.glyphicon-eye-close
                %span.btn-text= t('.unpublish')
            - else
              = link_to([:toggle_published, picture_detail], class: 'btn btn-xs btn-responsive btn-success', method: :post) do
                %span.glyphicon.glyphicon-eye-open
                %span.btn-text= t('.publish')
            = link_to([:edit, picture_detail], class: 'btn btn-xs btn-responsive btn-primary') do
              %span.glyphicon.glyphicon-pencil
              %span.btn-text= t('.edit')
            = link_to([picture_detail], class: 'btn btn-xs btn-responsive btn-danger', method: :delete, data: { confirm: I18n.t('.confirmations.delete') }) do
              %span.glyphicon.glyphicon-fire
              %span.btn-text= t('.destroy')