= table.row :locale
= table.row :name
= table.row :identifier
= table.row :description
= table.row :picture_details_count
= table.row :display_code_for_erb
= table.timestamp :published_at
= table.timestamps