= form.input :name
= form.input :email
= form.input :nickname, input_html: { style: 'display: none;' }, label_html: { style: 'display: none;' }
= form.input :phone
= form.input :message, as: :text
= form.input :accept_terms_of_service