= table.row :preview do |resource|
  - capture_haml do
    %img.img-fluid{ src: main_app.url_for(resource.asset) }
= table.row :picture_gallery, as: :association, label_method: :name
= table.row :title
= table.row :identifier
= table.row :description
= table.timestamp :published_at
= table.row :display_code_for_erb
= table.row :asset_permanent_path do |resource|
  - main_app.rails_blob_path(resource.asset)
= table.row :asset_permanent_url do |resource|
  - main_app.rails_blob_url(resource.asset)