.well
  = form.input :title
  ~ form.input :meta_description
  ~ form.input :body

.well
  = form.input :pathname, required: false
  = form.input :basename
  = form.input :locale,  collection: I18n.available_locales
  = form.input :format,  collection: Mime::SET.symbols
  = form.input :handler, collection: ActionView::Template::Handlers.extensions

.well
  = form.input :layout

.well
  - Cmor::Cms::Navigation.where(locale: I18n.locale).all.each do |navigation|
    = form.association :navigation_items, as: :check_boxes, collection: navigation.cmor_cms_navigation_items.joins(:navigation).where(cmor_cms_navigations: { locale: locale }), label_method: :key