= table.acts_as_list_actions
= table.column :locale, sort: true
= table.column :preview do |resource|
  - if resource.picture_details.first.try(:asset).present?
    - capture_haml do
      %img.img-fluid{ src: main_app.url_for(resource.picture_details.first.asset.variant(Cmor::Core::Backend::Configuration.image_variant_options_for(:table))) }
= table.column :name, sort: true
= table.column :picture_details_count
= table.timestamps sort: true
= table.acts_as_published_actions