- if @resource.respond_to?(:roles)
  %h3= Cmor::Rbac::Role.model_name.human(count: :other)

  .table-responsive
    = collection_table(collection: @resource.roles) do |table|
      = table.column :identifier
      = table.column :actions, title: "" do |resource|
        - capture_haml do
          = link_to t('.show'), url_for(resource), class: 'btn btn-primary btn-xs'


- if @resource.respond_to?(:permissions)
  %h3= Cmor::Rbac::Permission.model_name.human(count: :other)

  .table-responsive
    = collection_table(collection: @resource.permissions) do |table|
      = table.column :identifier
      = table.column :actions, title: "" do |resource|
        - capture_haml do
          = link_to t('.show'), url_for(resource), class: 'btn btn-primary btn-xs'
