= table.column :email, sort: true
= table.column :roles_count, sort: true
= table.column :enabled_roles_count, sort: true
= table.column :permissions_count, sort: true
= table.column :enabled_permissions_count, sort: true
= table.timestamps sort: true