= table.acts_as_list_actions
= table.id sort: true
= table.association :post do |resource|
  - link_to(resource.post.title, resource.post)
= table.association :asset, label_method: ->(r) { r.filename }
= table.timestamps sort: true
= table.column :asset_actions do |resource|
  - if resource.asset.present?
    - link_to(main_app.url_for(resource.asset), class: 'btn btn-sm btn-xs btn-primary') do
      %span.glyphicon.glyphicon-download
      = t('.download')