<div class="link_category category" id="<%= dom_id(category) %>">
  <h1><%= category.name %></h1>

  <% unless category.long_description.blank? %>
    <div class="link_categories-description">
      <p><%= category.long_description %></p>
    </div>
  <% end %>

  <div class="list-group">
    <%= render partial: 'cmor/links/categories/category_in_index', collection: Cmor::Links::CategoryDecorator.decorate_collection(category.descendants), as: :category %>
  </div>

  <div class="download_category-downloads item_list">
    <h2><%= Cmor::Links::Category.human_attribute_name(:cmor_links_links) %></h2>
    <% if category.links.count == 0 %>
      <p><%= t('cmor.links.category.messages.no_links_available') %></p>
    <% else %>
      <%= render partial: 'cmor/links/links/table', locals: { links: category.links } %>
    <% end %>
  </div>
</div>