%h1= @resource.title

.row
  .col-12
    = resource_table(resource: @resource, resource_class: Cmor::Files::FileDetail, header: false) do |table|
      = table.row :filename do |resource|
        - resource.asset.blob.filename
      = table.row :blob_byte_size do |resource|
        - number_to_human_size(resource.asset.blob.byte_size)
      = table.row :actions do |resource|
        - capture_haml do
          = link_to(t('.download'), main_app.url_for(resource.asset), class: 'btn btn-primary')


.row.mt-4
  .col-12
    = link_to(t('.back'), last_location, class: 'btn btn-primary')