%div{ id: dom_id(post), class: "row #{dom_class(post)} bottom-margin-5 mb-4" }
  .col-lg-4
    .post-preview-picture
      = image_tag(main_app.url_for(post.preview_picture.asset.variant(Cmor::Blog::Configuration.preview_picture_asset_variant_options)), class: 'img-fluid')
  .col-lg-8
    %h2.post-title
      = link_to(post.title, cmor_blog.url_for(post))
    %small
      %span.post-creation-information.text-muted
        = instance_exec(post, &Cmor::Blog::Configuration.post_creation_information_proc)

      - if Cmor::Core.features?(:cmor_comments)
        |
        %span.comments-information
          = link_to(t('cmor.comments.commentable.comments_information', comments_count: post.comments.count), cmor_blog.post_url(post, anchor: 'comments'))
      - if Cmor::Core.features?(:cmor_tags)
        |
        %span.post-tags
          = tag_labels_for(post)

    .post-body.truncate-lines-3
      = post.body(format: :html).html_safe