= table.column :id
= table.column :line1
= table.column :line2
= table.column :line3
= table.column :street
= table.column :housenumber
= table.column :zipcode
= table.column :city
= table.column :country
= table.column :addressable_type
= table.association :role, label_method: :name, link_to: ->(r) { url_for(r.role) }
