= table.id sort: true
= table.column :locale, sort: true
= table.association :parent, sort: true
= table.column :name, sort: true, class: 'truncate-chars truncate-chars-30'
= table.column :short_description, sort: true, class: 'truncate-chars truncate-chars-30'
= table.column :long_description, sort: true, class: 'truncate-chars truncate-chars-30'
= table.column :link_footer_column, sort: true, class: 'truncate-chars truncate-chars-30'
= table.column :links_count, sort: true
= table.timestamps sort: true