= table.id sort: true
= table.row :description, sort: true
= table.boolean :can_write, sort: true
= table.timestamp :active_from, sort: true
= table.timestamp :active_to, sort: true
= table.timestamps
