= table.id
= table.row :uuid
= table.row :root_model
= table.row :query
= table.row :count_query
= table.row :count
= table.row :output_format
= table.row :output_attributes
= table.aasm_state
= table.aasm_actions
= table.row :service_errors
= table.row :service_messages
= table.row :description
= table.association :creator, label_method: ->(r) { administrador_helper(self).label_for(r) }
= table.row :job_id
= table.attachment :output
= table.timestamps