= table.row :target do |resource|
  - resource.path.presence || administrador_helper(self).label_for(resource.resource)
= table.row :meta_tags_count
= table.row :meta_tags_to_html do |resource|
  - capture_haml do
    %pre= resource.meta_tags_to_html
= table.timestamp :published_at
= table.timestamps
