:css
  .qr_code table { border-spacing: 0; border: none; }
  .qr_code td.black { background-color: black; }
  .qr_code td.white { background-color: white; }

.row
  .col-12
    .backup_codes_hint
      .alert.alert-info= t(".backup_codes_hint_html").html_safe
  .col-12
    .backup_codes_security_hint
      .alert.alert-danger= t(".backup_codes_security_hint_html").html_safe
  .col-12
    .backup_codes
      %ul
      - form.object.backup_codes.each do |code|
        %li= code

.row
  .col-12
    .qr_code
      %h2= t(".qr_code_heading")
      %p= t(".qr_code_instructions")
      = form.object.qr_code.as_html.html_safe

.row
  .col-12
    %h2= t(".code_heading")
    %p= t(".code_instructions")
    = form.input :code, input_html: { autocomplete: 'off' }, label: false