%h1= resource_class.model_name.human(count: :other)

.row
  .col-12
    = collection_table(collection: @collection, resource_class: resource_class) do |t|
      = t.column :name
      = t.column :assets_count
      = t.column :actions do |resource|
        - link_to(t('.show'), [resource], class: 'btn btn-primary')