.row
  .col-12
    %h1= @resource.name

.row
  .col-12
    .table-responsive
      = collection_table(collection: @resource.file_details, resource_class: Cmor::Files::FileDetail) do |table|
        = table.column :label
        = table.column :blob_byte_size do |resource|
          - number_to_human_size(resource.asset.blob.byte_size)
        = table.column :actions, title: false do |resource|
          - capture_haml do
            .text-right
              = link_to(main_app.url_for(resource.asset), class: 'btn btn-primary') do
                = files_helper(self).asset_download_button_label(resource.asset)


.row.mt-4
  .col-12
    = link_to(t('.back'), last_location, class: 'btn btn-primary')