.row
  .col-12
    = form.input :identifier

.row
  .col-6
    = form.input :enabled_from, as: :date_time_picker
  .col-6
    = form.input :enabled_to, as: :date_time_picker

.row
  .col-6
    = form.association :users, as: :check_boxes, label_method: :email, item_wrapper_class: 'd-block', input_html: { class: 'mr-1' }
  .col-6
    = form.association :permissions, as: :check_boxes, label_method: :identifier, item_wrapper_class: 'd-block', input_html: { class: 'mr-1' }