= table.row :email
= table.row :single_access_token
= table.row :login_count
= table.row :failed_login_count
= table.timestamp :last_request_at
= table.timestamp :current_login_at
= table.timestamp :last_login_at
= table.row :current_login_ip
= table.row :last_login_ip
= table.boolean :active
= table.boolean :confirmed
= table.boolean :approved
= table.timestamps
= Cmor::UserArea::Configuration.current_user_additional_table_rows_proc.try(:call, self, table)