.cmor-legal-allowed_cookies{ id: "cmor-legal-allowed_cookies-#{cookie_identifier}" }
  .card.rounded-0
    #headingOne.card-header.rounded-0.border-0.p-0
      %a.btn.btm-link.btm-sm.text-secondary{ "data-toggle" => "collapse", "data-target" => "#cmor-legal-allowed_cookies-#{cookie_identifier}-table_container", "aria-expanded" => false, "aria-controls" => "cmor-legal-allowed_cookies-#{cookie_identifier}-table_container" }
        = Cmor::Legal::AllowedCookie.model_name.human(count: :other)

    .collapse{ id: "cmor-legal-allowed_cookies-#{cookie_identifier}-table_container", "aria-labelledby" => "headingOne", "data-parent" => "#cmor-legal-allowed_cookies-#{cookie_identifier}" }
      .card-body.p-0.small
        = collection_table(collection: allowed_cookies, size: :small) do |table|
          = table.column :name
          = table.column :domain
          = table.column :expiry do |resource|
            - resource.expiry(locale: I18n.locale)
          = table.column :description
          = table.column :actions, title: "" do |resource|
            - if resource.url.present?
              - capture_haml do
                = link_to(resource.url) do
                  = t('cmor.legal.frontend.cookie_preferences.allowed_cookies.more')