<div id="cmor_legal_cookie_preferences">
  <%= form_for resource, url: cmor_legal_frontend.cookie_preferences_path(legal_helper(self).options_for_url_helper), method: :put do |f| %>
    <div class="<%= collapsible_preferences ? 'collapse' : nil %>" id="<%= collapsible_preferences ? 'collapsible_cookie_preferences' : nil %>">
      <div class="row display-flex">
        <% resource.cookies.each do |cookie| %>
          <div class="col-lg-6 mb-4">
            <div class="col-lg-12 border p-4">
              <div class="checkbox">
                <% opts = {} %>
                <% opts.merge!(:class => 'cmor_legal_cookie_checkbox', :id => "cmor_legal_cookie_checkbox_#{cookie.identifier}") %>
                <% opts.merge!(:disabled => :disabled) if cookie.readonly? %>
                <%= f.check_box cookie.identifier, opts %>
                <label for="<%= "cmor_legal_cookie_checkbox_#{cookie.identifier}" %>" class="cmor_legal_cookie_checkbox_container">
                </label>
              </div>
              <%= render :partial => "cmor/legal/frontend/cookies/multiple/#{cookie.identifier}" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="actions">
      <div class="row">
        <div class="col-lg-12">
          <%= f.submit class: 'btn btn-primary', id: 'cmor-legal-cookies-accept' %>
        </div>
      </div>
    </div>
  <% end %>
</div>