= table.column :name
= table.association :record do |resource|
  - capture_haml do
    - begin
      - engine_name = resource.record.class.name.deconstantize.underscore.gsub("/", "_")
      - engine_name = 'main_app' if engine_name.empty?
      - url = send(engine_name).polymorphic_path(resource.record)
      = link_to(url) do
        = administrador_helper(self).label_for(resource.record)
    - rescue NameError => e
      = "#{resource.record_type}##{resource.record_id}"
= table.column :blob do |resource|
  - link_to(resource.blob.filename, [:active_storage, resource.blob])
= table.column :created_at
= table.column :additional_actions do |resource|
  - link_to(t('.download'), main_app.url_for(resource.blob), class: 'btn btn-primary btn-xs')