.row
  .col-12
    %h1= "#{PaperTrail::Version.model_name.human(count: :other)} (#{@resource.versions.size})"

.row
  .col-12
    = simple_form_for(:paper_trail, url: url_for(action: :paper_trails_show_at), wrapper: :inline_form, html: { method: :get, class: 'form-inline' }) do |form|
      = form.input :version_at, as: :date_time_picker, side_by_side: true, icon_provider: :font_awesome, input_html: { name: 'version_at' }
      = form.submit class: 'btn btn-primary'

.row
  .col-12
    = collection_table(collection: @resource.versions, resource_class: PaperTrail::Version) do |table|
      = table.id
      = table.association :item
      = table.column :event
      = table.column :whodunnit
      = table.timestamp :created_at
      = table.column :actions, title: '' do |resource|
        - capture_haml do
          = link_to({ action: :paper_trails_show, version_id: resource.id }, class: 'btn btn-responsive btn-primary btn-xs') do
            %i.fas.fa-eye
            %span.btn-text= t('.show')