.row.mb-2
  .col-12
    %h1= "#{PaperTrail::Version.model_name.human(count: :other)} (#{@versions.size})"

.row.mb-4
  .col-12
    = simple_form_for(:paper_trail, wrapper: :inline_form, url: url_for(action: :version_at), html: { method: :get, class: 'form-inline' }) do |f|
      .form-row
        .form-group
          = render partial: 'versions_form', locals: { form: f }
        .form-group
          = render partial: 'versions_form_buttons', locals: { form: f }

.row
  .col-12
    = collection_table(collection: @versions, resource_class: PaperTrail::Version) do |table|
      = table.id
      = table.column :event do |resource|
        - capture_haml do
          - css_class = { create: "badge-success", update: "badge-warning", delete: "badge-danger"}[resource.event.to_sym] || "badge-info"
          %span.badge{ class: css_class}= resource.event
      = table.column :whodunnit do |resource|
        - capture_haml do
          = administrador_helper(self).label_for Cmor::Audits::Configuration.whodunnit_find_proc.call(resource.whodunnit)
      = table.timestamp :created_at
      = table.column :object do |resource|
        - capture_haml do
          %pre= resource.object
      = table.column :actions, title: '' do |resource|
        - capture_haml do
          .w-100.text-right
            = link_to({ action: :version, version_id: resource.id }, class: 'btn btn-responsive btn-primary btn-xs') do
              %i.fas.fa-eye
              %span.btn-text= t('.show')

.row
  .page-actions.col-12.d-flex
    = link_to({ action: :show, id: @resource.to_param }, class: 'btn btn-light btn-responsive') do
      %i.fas.fa-arrow-left
      %span.btn-text= t('.back')